data from https://stooq.com/db/h/

In [27]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import timedelta, time, datetime

In [47]:
work_dir = 'D:/5_us_txt/data/5 min/us/nasdaq stocks/2/'
df = pd.read_csv(work_dir + 'tsla.us.txt')

In [48]:
df.head()

,<TICKER>,<PER>,<DATE>,<TIME>,<OPEN>,<HIGH>,<LOW>,<CLOSE>,<VOL>,<OPENINT>
0,TSLA.US,5,20200706,153000,1276.69,1284.27,1266.04,1281.71,520562,0
1,TSLA.US,5,20200706,153500,1281.72,1282.45,1272.13,1274.68,138299,0
2,TSLA.US,5,20200706,154000,1275.18,1294.00,1270.07,1292.54,286518,0
3,TSLA.US,5,20200706,154500,1292.94,1298.00,1288.35,1293.00,315377,0
4,TSLA.US,5,20200706,155000,1293.48,1297.81,1286.67,1297.38,203295,0

In [43]:
cols = ['ticker','period','date','time',
        'open','high','low','close','vol','openint']
df.columns = cols

In [44]:
df['date'] = pd.to_datetime(df['date'], format = '%Y%m%d')

In [45]:
df['time'] = df['time'] / 5. / 60. # time will be in 'minutes since 12am'
df['time_str'] = df['time'].map(lambda x: str(int(x/60.)) + ':' + str(round((x/60. % 1)*60,0)))

In [17]:
df.columns = ['Date','Close/Last','Volume','Open','High','Low']

In [18]:
list(df)

['Date', 'Close/Last', 'Volume', 'Open', 'High', 'Low']

In [19]:
for i in ['Close/Last','Volume','Open','High','Low']:
    df[i] = df[i].map(lambda x: float(str(x)[1:].replace(',','')))

In [20]:
df

          Date  Close/Last    Volume    Open    High     Low
0   2020-08-14       50.71  577610.0  664.99  668.80  626.64
1   2020-08-13       21.00   25310.0  611.00  651.18  567.26
2   2020-08-12       54.76  898830.0  470.00  585.00  435.00
3   2020-08-11       74.39   25834.0  396.00  420.00  365.00
4   2020-08-10       18.57   22264.0  448.00  457.50  385.84
..         ...         ...       ...     ...     ...     ...
247 2019-08-22        2.15   64964.0   22.80   25.40   18.22
248 2019-08-21        0.83   99744.0   22.01   23.22   17.60
249 2019-08-20        5.86   70527.0   27.62   29.09   24.54
250 2019-08-19        6.83   11748.0   24.21   27.83   21.70
251 2019-08-16        9.94    7376.0   16.66   22.24   16.02

[252 rows x 6 columns]